<% if @aim.user_id == session[:user] %>
    <%= @aim.how %><%= @aim.what %>
    つくった日:<%= @date %>
    <% if @review_boolean %>
        <div>
            <%= @review.anxiety %>
            <%= @evaluation %>
            <a href="#">れびゅーへんこう</a>
        </div>
    <% else %>
        <div>
            まだレビューはないよ
            <a href="/review/<%= params[:id] %>">れびゅーついか</a>
        </div>
    <% end %>
<% else %>
    このぺーじはみられないよ！
<% end %>