<div class="hedder">
    きろくしょうさい
</div>
<br>
<% if @aim.user_id == session[:user] %>
    <div class="kiroku1">
        つくった日:<%= @aim.created_at %>
    </div>
    <h1><%= @aim.how %><%= @aim.what %></h1>
    <%= @aim.how %><%= @aim.what %>
    つくった日:<%= @date %>
    <% if @review_boolean %>
        <div>
            <%= @review.anxiety %>
            <%= @evaluation %>
            <a href="/review/<%= params[:id] %>/edit">れびゅーへんこう</a>
        </div>
    <% else %>
        <div>
            まだレビューはないよ
            <a href="/review/<%= params[:id] %>">れびゅーついか</a>
        </div>
    <% end %>
<% else %>
    <h3>このぺーじはみられないよ！</h3>
<% end %>