<div class="hedder">
    きろくしょうさい
</div>
<br>
<% if @aim.user_id == session[:user] %>
    <div class="kiroku1">
        つくった日:<%= @aim.created_at %>
    </div>
    <br>&emsp;
    <h2><%= @aim.how %><%= @aim.what %></h2>
    <br>
    <div class="kiroku1">
        ひょうか
    </div>
    <% if @review_boolean %>
        <div>
            <br>
            <div class="star">
                <%= @evaluation %>
            </div>
            <br>
            <div class="kiroku1">
                不安だったこと
            </div>
            <br>
            <div>
                <%= @review.anxiety %>
            </div>
            <br>
            <div class="center">
                <a href="/review/<%= params[:id] %>/edit" class="button">れびゅーへんこう</a>
            </div>
        </div>
    <% else %>
        <div>
            まだレビューはないよ
            <a href="/review/<%= params[:id] %>">れびゅーついか</a>
        </div>
    <% end %>
<% else %>
    <h3>このぺーじはみられないよ！</h3>
<% end %>