<% if @id_boolean %>
    <% if @result.user_id == session[:user] %>
        <h1>けっか</h1>
        <h2><%= @result.how %>&emsp;<%= @result.what %></h2>
        
        <% if session[:user] %>
            <div class="center">
                <a href="/archive" class="button">これでいっか！</a>
            </div>
        <% else %>
            みろぐいん。
        <% end %>
        <h3>もうどうしようもないひとへ</h3>
        <form action="/result/<%= params[:how_index] %>/<%= params[:what_index] %>/<%= @result.id %>/reset" method="post">
            <div class="center">
                <input type="submit" value="りせっとぉ！！"class="input-box style2">
            </div>
        </form>
    <% else %>
        このぺーじはよくわかんない！
    <% end %>
<% else%>
    このぺーじはひょうじできなさそう！
<% end %>